.contentText {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.aboutArrow {
  transition: transform 0.3s;
}

.rotate {
  transform: rotate(180deg);
}
ul {
  list-style-type: none;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .contentText {
    font-size: 12px;
  }
}
