* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapperBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperBanner .imgBanner {
  width: 80%;
  height: 223px;
  border-radius: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapperBanner .titleBanner {
  position: relative;
  bottom: 140px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 48px;
}
.wrapperBanner .titleBannermobile {
  display: none;
}
.wrapperBanner .bgOpacity {
  background-color: black;
  position: absolute;
  top: 132px;
  width: 80%;
  height: 223px;
  opacity: 0.5;
  border-radius: 25px;
}
@media (max-width: 1200px) {
  .wrapperBanner .titleBanner {
    font-size: 36px;
    width: 80%;
  }
}
/*mobile*/
@media (max-width: 768px) {
  .wrapperBanner .titleBanner {
    font-size: 24px;
  }
  .wrapperBanner .imgBanner,
  .wrapperBanner .bgOpacity {
    height: 178px;
    width: 90%;
  }
  .wrapperBanner .bgOpacity {
    position: absolute;
    top: 95px;
  }
  .wrapperBanner .titleBanner {
    display: none;
  }
  .wrapperBanner .titleBannermobile {
    display: inline;
    color: #fff;
    position: absolute;
    left: 80px;
  }
}
