* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapperError {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 139px;
}
.wrapperError .titleError {
  color: #ff6060;
  text-align: center;
  font-size: 288px;
  margin-top: 0;
  margin-bottom: 80px;
  padding: 0;
}
.wrapperError .pError {
  color: #ff6060;
  font-size: 36px;
  margin-bottom: 139px;
  text-align: center;
}
.wrapperError .linkHome {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .wrapperError {
    display: flex;
    margin-top: 80px;
    margin-bottom: 113px;
  }
  .wrapperError .titleError {
    font-size: 96px;
    margin-bottom: 80px;
  }
  .wrapperError .pError {
    color: #ff6060;
    font-size: 18px;
    margin-bottom: 113px;
  }
}
